<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form ng-submit="addImage(imageUrl, imageTitle, imageArtist)">
        <div class="form-group">
          <label for="imageUrl">Image Url</label>
          <input type="url" class="form-control" id="imageUrl" placeholder="image.jpg"
          ng-model="imageUrl">
        </div>
        <div class="form-group">
          <label for="imageTitle">Title</label>
          <input type="text" class="form-control" id="imageTitle" placeholder="Title"
          ng-model="imageTitle">
        </div>
        <div class="form-group">
          <label for="imageArtist">Artist</label>
          <input type="text" class="form-control" id="imageArtist" placeholder="Artist"
          ng-model="imageArtist">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div>
  </div>
</div>